* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    min-height: 100vh;
    font-family: system-ui, -apple-system, sans-serif;
    -webkit-font-smoothing: antialiased;

    background-image: url(/src/assets/fondo.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#root {
    width: 100%;
    min-height: 100vh;
}